.header_inner {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-family: 'PT Sans', sans-serif;
}

.header_logo {
  height: 76px;
  text-align: left;
}

.header_title2 {
  padding-left: 15px;
}

.fetured-work {
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 10px;
  color: #7d97ad;
}

/*  关于背景图
  .leade{
  width: 100%;
  position: relative;
  background-image: url("./images/dog.jpg");
  background-size: cover;
  height: 300px;
}
*/

.description {
  width: 100%;
  padding-top: 15px;
  padding-left:10px;
  font-family: 'Ranga', cursive;
  font-size: 20px;
}

h3 {
  text-align: center;
  font-weight: bold;
}

.horizon {
  border-style: solid;
  border-width: 5px;
  border-color: #7d97ad;
}

.details {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width:990px) {
  html {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }




}

@media screen and (max-width:576px) {
  .header_logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header_title {
    margin-left: 0;
    padding-left: 0;
    font-size: 1em;
    vertical-align: bottom;
  }
  .horizon {
    width: 100%;
  }
  p {
    padding-left: 30px;
  }
  .photofour,
  .photothree,
  .phototwo {
    padding-left: 50px;
  }

}

@media screen and (min-width:768px) {
  .header_title2 {
    padding-right: 15px;
  }/*下面这段不起作用啊啊 */
  .part_two {
    display: flex;
  }

  .project_two,
  .project_three {
    width: 50%;
  }
  .project_two{order:0;}
  .project_three{order:1;}


}
